<!DOCTYPE html>

<!-- W3C Design — see https://github.com/w3c/design to learn how to use this template -->

<!-- Reminder: replace all @@PLACEHOLDERS@@ and remove this line when you're done -->

<html lang="en-GB" class="no-js">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>W3C&nbsp;&mdash;&nbsp;@@TITLE@@</title>
    <meta name="application-name" content="@@NAME@@" />
    <meta name="author" content="@@AUTHOR@@" />
    <meta name="description" content="@@DESCRIPTION@@" />
    <meta name="keywords" content="@@KEYWORDS@@" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="icon" type="image/png" sizes="16x16 32x32" href="icon.png" />    <!-- ← Replace with @@SIZES@@ -->
    <link rel="apple-touch-icon" type="image/png" sizes="32x32 48x48" href="apple-icon.png" />    <!-- ← Replace with @@SIZES@@ -->
    <link rel="manifest" type="application/manifest+json" href="manifest.webmanifest" />
    <link rel="author" type="text/plain" href="humans.txt" />
  </head>

  <body>

    <header>
      <h1>W3C&nbsp;&mdash;&nbsp;@@TITLE@@</h1>
    </header>

    <nav>
      <h2>Navigation</h2>
      <ul>
        <li><a href="#one">One</a></li>
        <li><a href="#two">Two</a></li>
        <li><a href="#three">Three</a></li>
      </ul>
      <ul>
        <li><a href="#foo">Foo</a></li>
        <li><a href="#bar">Bar</a></li>
      </ul>
    </nav>

    <main>

      <h2 id="one">One</h2>
      <p style="height: 20rem;">Lorem ipsum.</p>

      <h2 id="two">Two</h2>
      <p style="height: 20rem;">Lorem ipsum.</p>

      <h2 id="three">Three</h2>
      <p style="height: 20rem;">Lorem ipsum.</p>

    </main>

    <aside>

      <h2 id="foo">Foo</h2>
      <p style="height: 10rem;">Lorem ipsum.</p>

      <h2 id="bar">Bar</h2>
      <p style="height: 10rem;">Lorem ipsum.</p>

    </aside>

    <footer>
      <p>@@AUTHOR@@</p>
      <p>@@CONTACT-INFORMATION@@</p>
      <p>@@LAST-MODIFICATION@@</p>
    </footer>

    <script type="text/javascript" src="behaviour.js"></script>

  </body>

</html>
