#hero {
    padding: 0px 0px 30px 0px;
    overflow: auto;
    background:linear-gradient(135deg, #69F0AE, #039BE5, #536DFE, #536DFE, #536DFE ,#7C4DFF, #7C4DFF);
}

#hero h1, #hero h2 {
    color: white;
}

#hero p.call-to-action {
    margin-top: 50px;
}

#hero p.call-to-action a {
    padding: 10px 15px 10px 15px;
    color: white;
    font-weight: 400;
    border-radius: 3px;
    font-size: 1.1em;
    text-decoration: none;
}

#hero p.call-to-action a.action-2 {
    background-color: #00E676;
    border: 1px solid #00C853;
    color: rgba(0,0,0,0.7);
}

#hero p.call-to-action a.action-1 {
    border: 1px solid rgba(0,0,0,0.1);
    color: rgba(0,0,0,0.7);
    background-color: white;
}

#points-of-interest {
    padding-top: 30px;
    padding-bottom: 50px;
}

#points-of-interest .interest {
    margin-top: 20px;
    text-align: center;
    padding: 30px 20px 30px 20px;
}

#points-of-interest h2 {
    margin-top: 50px;
    text-align: center;
    color: rgba(0,0,0,0.7);
}

#points-of-interest .interest p {
    color: rgba(0,0,0,0.7);
}

#points-of-interest .interest p.call-to-action {
    margin-top: 30px;
}

#points-of-interest .interest p.call-to-action a {
    padding: 5px 15px 5px 15px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 3px;
    color: rgba(0,0,0,0.5);
    text-decoration: none;
}

#open-source-projects {
    padding-top: 30px;
    padding-bottom: 50px;
}

#open-source-projects:before {
    content: " ";
    width: 600px;
    display: block;
    margin: auto;
    border-top: 1px solid rgba(0,0,0,0.1);
}

#open-source-projects h2 {
    text-align: center;
    margin-top: 100px;
}

#open-source-projects .container {
}

#open-source-projects ul.project-list {
    padding: 0px;
    margin-top: 50px;
    list-style-type: none;
}

#open-source-projects ul.project-list li.project {
    padding: 20px 15px 20px 15px;
    background-color: white;
    margin-top: 30px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.1);
}

#open-source-projects ul.project-list li.project p {
    color: rgba(0,0,0,0.7);
}

#open-source-projects ul.project-analytics {
    list-style-type: none;
    padding: 0px;
}

#open-source-projects ul.project-analytics li {
    display: inline-block;
    font-size: 0.8em;
    color: rgba(0,0,0,0.7);
    padding: 5px 0px 5px 0px;
    margin-right: 20px;
}

#open-source-projects ul.project-list li.project p.call-to-action {
    margin-top: 30px;
}

#open-source-projects ul.project-list li.project p.call-to-action a {
    padding: 10px 15px 10px 15px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 3px;
    color: rgba(0,0,0,0.5);
    text-decoration: none;
}

#open-source-projects .load-more-projects {
    text-align: center;
    margin-top: 50px;
}

#open-source-projects .load-more-projects a {
    padding: 10px 50px 10px 50px;
    border: 1px solid #3D5AFE;
    border-radius: 3px;
    color: #3D5AFE;
    text-decoration: none;
}

#open-source-projects .load-more-projects a:hover {
    background-color: #E3F2FD;
}

@media (min-width: 48em) {

    #open-source-projects ul.project-list {
        text-align: center;
    }

    #open-source-projects ul.project-list li.project {
        width: 40%;
        display: inline-block;
        margin-top: 5px;
    }
}
