html, body{
    margin: 0px;
    padding: 0px;
    outline: 0px;
    height: 100%;
    font-size: 1em;
    font-family: Open Sans;
    background-color: white;
    -webkit-font-smoothing: antialiased;
}

header, main, section {
    width: 100%;
}

header {
    height: 68px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

header nav ul {
    list-style-type: none;
    padding-left: 0px;
    vertical-align: center;
    margin: 0px;
}

header nav ul li {
    display: inline-block;
    padding: 0px 8px 0px 8px;
}

header nav ul li a {
    font-size: 0.8em;
    font-weight: 400;
    color: rgba(0,0,0,0.54);
    text-decoration: none;
    letter-spacing: normal;
}

header nav ul li a:hover {
    color: rgba(0,0,0,0.9);
}

header nav ul li.brand-name {
    padding: 0px;
}

header nav ul li.brand-name a {
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
    font-family: PT Mono;
    font-size: 1rem;
    letter-spacing: 0.02rem;
    color: #536DFE;
    line-height: 68px;
    margin-right: 30px;
}

header nav ul li.donate {
    float: right;
    line-height: 68px;
}

header nav ul li.donate a {
    background-color: #536DFE;
    color: white;
    border-radius: 3px;
    font-size: 0.8em;
    padding: 5px 15px 5px 15px;
    border: 1px solid #283593;
}

header nav ul li.donate a:hover {
    background-color: #304FFE;
}

h1 {
    font-size: 2em;
    font-weight: 300;
    margin-top: 70px;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 2em;
    margin-top: 0px;
}

h3 {
    font-size: 1em;
    font-weight: 400;
    line-height: 2em;
}

p {
    font-size: 0.8em;
    font-weight: 400;
    line-height: 1.7em;
}

footer {

}

.container {
    padding: 0px 25px 0px 25px;
}

/* let's make it work for the 9.99% desktop's users left ;) */

@media (min-width: 48em) {
    .container {
        max-width: 1000px;
        margin: auto;
        display: grid;
    }

    .container::after {
        content: "";
        display: table;
        clear: both;
    }

    .block-3 {
        width: 33.333333%;
        float: left;
    }

}
