
header {
    padding-top: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#hero {
    background-color: white;
    --border-bottom: 1px solid rgba(0,0,0,0.1);
    background-color: white;
    background-image: url(../img/cover-img2copy.png);
    background-size: cover;
    --text-align: center;
}

#hero p.call-to-action {
    text-align: left;
    margin-left: 190px;
}

#hero p.call-to-action .action1 {
    background-color: #304FFE;
    border: 1px solid #304FFE;
    font-weight: 300;
    letter-spacing: normal;
}

#hero p.call-to-action .action2 {
    border: 1px solid white;
    color: white;
    letter-spacing: normal;
    background-color: transparent;
    font-weight: 300;
}

#hero ul {
    margin: auto;
    max-width: 900px;
    text-align: center;
    list-style-type: none;
    padding-left: 0px;
    display: table;
    margin-top: 40px;
}

#hero ul li {
    width: 70px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

#hero ul li a {
    font-size: 0.9rem;
    color: #536DFE;
    text-decoration: none;
}

#hero img {
    margin: 0px;
    width: auto;
}

#hero .video-container {
}

#hero video {
}

#hero .blue-bg {
    width: 100%;
    height: 100%;
    --background-color: rgba(61, 90, 254, 0.3);
    --background-color: rgba(101, 31, 255, 0.5);
    background:linear-gradient(135deg, #009688, #039BE5, #536DFE, #3D5AFE, #651FFF);
    padding-top: 150px;
    padding-bottom: 50px;

}

main section {
    border-top: 0px;
}

table {
    width: 100%;
    margin-top: 50px;
    border-collapse: collapse;
}

table, td, th {
    border: 0px;
}
table tr {
    border-bottom: 0px;
    --border: 1px solid rgba(0,0,0,0.1);
    cursor: pointer;
}

table thead tr th {
    font-size: 0.9rem;
    font-weight: 400;
    color: rgba(0,0,0,0.5);
    padding: 15px 15px 0px 15px;
    text-align: left;
    white-space: nowrap;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

table tbody tr {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
table tbody tr td {
    font-size: 0.9rem;
    font-weight: 300;
    color: rgba(0,0,0,0.7);
    padding: 15px 15px 15px 15px;
}

table tbody tr td a {
    text-decoration: none;
    line-height: 2rem;
    text-align: left;
    color: rgba(0,0,0,0.7);
    font-weight: 600;
}

table tbody tr td a:hover {
    color: #3D5AFE;
}

table tbody tr td p {
    margin-top: 0px;
    font-size: 0.9rem;
}

td.expanded-cell {
    height: 300px;
    cursor: default;
}

section#contributors {
    width: 100%;
    padding-bottom: 50px;
    border-top: 1px solid rgba(0,0,0,0.1);
    background-color: #fbfbfb;
}

section#contributors ul {
    margin: auto;
    max-width: 900px;
    text-align: center;
    list-style-type: none;
    padding-left: 0px;
}

section#contributors ul li {
    width: 70px;
    display: inline-block;
    text-align: center;
}

section#contributors .call-to-action {
    text-align: center;
    margin-top: 40px;
}

section#contributors .call-to-action a {
    padding: 10px 15px 10px 15px;
    background-color: transparent;
    color: rgba(0,0,0,0.7);
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.2);
    font-size: 0.8rem;
    text-decoration: none;
}

section#contributors .call-to-action a:hover {
    color: #536DFE;
    border: 1px solid #536DFE;
}

footer {
    border-top: 1px solid rgba(0,0,0,0.1);
}

.block-3 {
    --border: 1px solid rgba(0,0,0,0.1);
}

.what-to-do {
    width: 92%;
    margin: auto;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 3px;
}

.what-to-do img {
    margin-top: 40px;
}

.what-to-do h3 {
    font-size: 1rem;
    line-height: 1.2rem;
    text-align: center;
    font-weight: 400;
    margin-top: 25px;
    color: rgba(0,0,0,0.7);
    letter-spacing: normal;
}

.what-to-do p {
    font-size: 0.8rem;
    line-height: 1.2rem;
    text-align: center;
    font-weight: 400;
    padding: 0px 5px 0px 5px;
    color: rgba(0,0,0,0.5);
}

.what-to-do p.call-to-action {
    padding-top: 10px;
    padding-bottom: 20px;
}

.what-to-do p.call-to-action a {
    padding: 10px 15px 10px 15px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 3px;
    color: rgba(0,0,0,0.5);
    text-decoration: none;
}
